body {
  font-family: "Roboto";
  background-color: rgba(152, 216, 217, 0.60);
}

#content  {
  margin-top: 40px;
  max-width: 60%;
  display: inline-flex;  
}

h3 {
  margin: 0;
}

.pokemon {
  margin: 10px;
  border: 1px solid rgba(2, 2, 2, 0.54);
  border-radius: 5px;
  padding: 3px;
  max-width: 200px;
  height: 200px;
  display: inline-block;
  background-color: rgba(159, 136, 246, 0.51);
  cursor: pointer;
}

#card {  
  margin-top: 40px;
  display: inline-block;
  position: fixed;
  text-align: center;
  padding: 0px 10px;
  margin-left: 50px;
  max-width: 40%;
  min-width: 250px;
  border-radius: 10px;
  background-color: rgba(159, 136, 246, 0.51);
}

.pokemon > img {
  display: block;
  width: 120px;
  height: 120px;
  margin: auto;
}

section[role="types"] > div {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
}

.poison {
  background-color: rgba(76, 68, 68, 0.50);
  border: 1px solid rgba(76, 68, 68, 0.60);
}

.water {
  background-color: rgba(69, 8, 255, 0.50);
  border: 1px solid rgba(69, 8, 255, 0.60);
}

.flying {
  background-color: rgba(8, 180, 255, 0.50);
  border: 1px solid rgba(8, 180, 255, 0.60);
}

.bug {
  background-color: rgba(73, 255, 8, 0.50);
  border: 1px solid rgba(73, 255, 8, 0.60);
}

.electric {
  background-color: rgba(196, 255, 8, 0.50); 
  border: 1px solid rgba(196, 255, 8, 0.60);
}

.ground {
  background-color: rgba(86, 61, 91, 0.50);
  border: 1px solid rgba(86, 61, 91, 0.60);
}

.fire {
  background-color: rgba(255, 139, 5, 0.50);
  border: 1px solid rgba(255, 139, 5, 0.60);
}

.normal {
  background-color: rgba(21, 6, 131, 0.50);
  border: 1px solid rgba(21, 6, 131, 0.60);
}

.fighting {
  background-color: rgba(67, 210, 188, 0.50);
  border: 1px solid rgba(67, 210, 188, 0.60);
}

.fairy {
  background-color: rgba(208, 17, 122, 0.50);
  border: 1px solid rgba(208, 17, 122, 0.60);
}

.grass {
  background-color: rgba(57, 1, 2, 0.50);
  border: 1px solid rgba(57, 1, 2, 0.60);
}

.steel {
  background-color: rgba(12, 30, 4, 0.50);
  border: 1px solid rgba(12, 30, 4, 0.60);
}

.ghost {
  background-color: rgba(2, 8, 25, 0.50);
  border: 1px solid rgba(2, 8, 25, 0.60);
}

.psychic {
  background-color: rgba(158, 125, 50, 0.50);
  border: 1px solid rgba(158, 125, 50, 0.60);
}

.ice {
  background-color: rgba(1, 33, 57, 0.50);
  border: 1px solid rgba(1, 33, 57, 0.60);
}

.rock {
  background-color: rgba(13, 21, 28, 0.50);
  border: 1px solid rgba(13, 21, 28, 0.60);
}

table, th, tr {
  font-size: 20px;
  text-align: center;
  margin: auto;
}

th {
  padding: 0px 20px;
}

button {
  display: block;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 20px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  background-color: rgba(43, 15, 239, 0.72);
  border: 1px solid rgba(0, 0, 0, 0.65);
  border-radius: 10px;
}

input {
  position: relative;
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 10px;
}